//Buttons

.white-btn {
	color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 1rem 2.5rem;
  border-radius: 5px;
	display: inline-block;
	&:hover {
		background: white;
	}
}

.mobile-ins-btn {
	padding: 10px 0;
}

.green-btn {
	background: #abc937;
	border: 1px solid #abc937;
	color: #fff;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border-radius: 5px;
	display: inline-block;
	&:hover {
		background:rgba(129,129,109,.9);
	}
}

/*================ QUERIES =================*/

@media screen and (max-width: 1024px) {
  .green-btn, .white-btn {
		padding: .75rem;
	}
}
