//Utility Classes

.white {
	color: #fff !important;
	text-shadow: 1px 1px 1px #000;
}

.bottom-space {
	margin-bottom: 4rem;
}

.inline {
	display: inline;
}

.pad-2-5 {
	padding: 2.5% 0;
}

.pad-5 {
	padding: 5% 0;
}

.pad-10 {
	padding: 10% 0;
}
