//Dark Army Green - #81816d - rgba(129,129,109,1)
//Lime Green - #abc937 - rgba(171,201,55,1)

body, h1 ,h2, h3, h4, h5, h6, p, a, button {
	color: #666;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.35;
	position: relative;
	top: 0;
	right: 0;
	transition: ease all 0.4s;
}

p, ul.list {
	color: #81816d;
	font-weight: 400;
	line-height: 2;
}

strong {
	font-weight: 500;
}

a {
	color: #abc937;
	&:hover {
		color: #abc937;
	}
}
